server {
  listen     80;
  listen  [::]:80;
  server_name  localhost;
  root /var/www/html;

  location / {
    try_files $uri /index.html;
  }

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }

  location /api/ {
    root /data/public;
    fastcgi_index index.php;
    fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }

}
